<header class="container navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">HAWK Tool Suite <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Hawk Search</a></li>
            <li><a href="#">Hawk Zoom</a></li>
            <li><a href="#">Hawk Scope</a></li>
            <li><a href="#">Hawk Compare</a></li>
            <li><a href="#">Hawk Financials</a></li>
          </ul>
        </li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Blog</a></li>
        <li>
          <div th:if="${customer.anonymous}"  th:remove="tag">
                <a class="account" th:href="@{/login}">
                    <span th:text="#{home.login}">Login</span>
                </a>
            </div>
        </li>
        <li>
          <div th:if="${customer.anonymous}"  th:remove="tag">
                <a class="account" th:href="@{/register}">
                    <span th:text="#{home.register}">Register</span>
                </a>
            </div>
        </li>
        <li>
            <div th:unless="${customer.anonymous}" th:remove="tag">
                <span><span th:text="#{home.welcome}">Welcome</span>, <a class="my-account" th:href="@{/account}" th:text="${customer.firstName}"></a></span>
                &nbsp;|&nbsp; 
                <a th:href="@{/logout}">
                    <span th:text="#{home.logout}">Logout</span>
                </a>
                &nbsp;|&nbsp; 
            </div>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</header>
